.App {
  box-sizing: border-box;
}

.Header-Wrap {
  border: black solid 1px;
  display: flex;
  background-color: #0d253f;
}

.Header-Wrap div {
  color: white;
}

.svg-logo {
  padding: 1rem;
  width: 60px;
}

h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5rem 0 0 0.5rem;
}

h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0 0 0 0.5rem;
  line-height: 36px;
}